/* CSS Document */

.banner {
    /*height:120px; */
    margin-bottom: 5px;
    float: left;
    width: 100%;
    height: 110px;
    background-position: left;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: black;
    cursor: pointer;
}

.banner_txt {
    height: 100px;
    text-align: right;
    padding-right: 10px;
    padding-top: 10px;
    float: right;
}

body {
    background-color: black;
    background-image: url("wp2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

hr {
    color:#336699;
    height:2px;
    border: 0;
    margin: 10px 0;
    background-image: linear-gradient(to right,#eee,#336699,#eee);
    clear: both;
}

.fileupload {
    width: 1px;
    height: 1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.fileupload + label {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    line-height: 30px;
    color: white;
    width:150px;
    height:30px;
    background-color: #336699;
    display: inline-block;
    margin: 8px;
    border-color: #000000;
}

.fileupload:focus + label,
.fileupload + label:hover {
    background-color: red;
}

.text, .alert {
    font-family: Verdana, Arial, Helevtica, sans-serif;
    font-size: 14px;
}
.alert {
    font-size: 12px;
    font-weight: bold;
    color: red;
}

.alertbox {
    height: 35px;
    display: table;
    width: 98%;
    padding: 5px 1%;
    background-color: #A11625;
    font-weight: bold;
    margin-bottom: 10px;
    color: white;
}
.alertbox_text {
    display: table-cell;
    vertical-align: middle;
}

.closebtn {
    font-size: 1.7em;
    margin-left: 15px;
    float: right;
    cursor: pointer;
}

.button, .button_red, .select {
    background-color: #336699;
    width:100px;
    color: white;
    height:28px;
    border-radius: 3px;
    border-width: 0;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size:12px;
    font-weight:bold;
    margin: 8px 16px 8px 0;
}

.button:hover {
    background-color: #224466;
}
.button_red {
    background-color: red;
}

.button_red:hover {
    background-color: #A10000;
}

.select {
    padding-left: 5px;
    width: 200px;
    background-color: #336699;
    border-radius: 0;
}

input[type='radio'] {
    padding-bottom: 10px;
    padding-right: 10px;
}

.header {
    background-color: silver;
    font-weight: bold;
    text-align: center;
    padding: 5px;
}

.desc_form {
    text-align: right;
    vertical-align: top;
    font-family: Verdana, Arial, sans-serif;
    font-size:12px;
    width: 30%;
    padding: 5px;
}

input[type=text], input[type=password], input[type=datetime-local], input[type=date] {
    border: 1px solid black;
    height:15px;
    font-family: Verdana, Arial, sans-serif;
    font-size:14px;
    text-align: left;
    padding: 5px;
    margin-bottom: 5px;
    margin-right: 10px;
}

.short {
    width: 190px;
}

.long {
    width:500px;
}

textarea {
    width: 505px;
    height: 8em;
    border: 1px solid black;
}

.center {
    text-align: center;
}

body {
    font-family: Verdana, Arial, Helevtica, sans-serif;
    font-size: 14px;
}

h1 {
    background-color: #336699;
    color: white;
    font-size: 16px;
    font-family: Verdana, Arial, sans-serif;
    padding: 5px;
    margin: 2px;
}

h2 {
    color: #575757;
    font-family: Verdana, Arial, sans-serif;
    font-size: 14px;
    font-weight: bold;
    padding: 2px;
    margin: 2px;
}

h3 {
    background-color: silver;
    font-size: 12px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 1%;
    font-family: Verdana, Arial, Helevtica, sans-serif;
    width: 99%;
}

h4, caption {
    background-color: darkgray;
    color: white;
    font-size: 10px;
    padding: 5px;
    font-family: Verdana, Arial, Helevtica, sans-serif;
    width: 99%;
}

.main_content {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
}

.footer {
    background-color: #336699;
    color: white;
    width: 98%;
    font-size: 14px;
    float: left;
    padding: 10px 1%;
    font-family: Verdana, Arial, Helevtica, sans-serif;
    font-weight: bolder;
}

.footer a {
    color: white;
    text-decoration: None;
}

.content {
    border: 1px dotted black;
    border-radius: 5px;
    width: 500px;
    margin: auto;
    padding: 10px;
    background-color: #F9F9F9;
}

[type=large] {
    width: 800px;
}

.content table {
    width: inherit;
}
