/* CSS Document */

body {
    font-family: Verdana, Arial, Helevtica, sans-serif;
    font-size: 12px;
    background-color: #191919;
    background-image: url("wp2.jpg");
    background-position: center;
    background-size: cover;
    height: 600px;
    background-repeat: no-repeat;
    padding: 20px;
}

hr {
    color:#808080;
    height:2px;
    border: 0;
    margin: 10px 0;
    background-image: linear-gradient(to right,#eee,#808080,#eee);
    clear: both;
}

*:focus {
    outline: none;
}

.fileupload {
    width: 1px;
    height: 1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.fileupload + label {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    line-height: 30px;
    color: white;
    width:150px;
    height:30px;
    background-color: #336699;
    display: inline-block;
    margin: 8px;
    border-color: #000000;
}

.fileupload:focus + label,
.fileupload + label:hover {
    background-color: red;
}

.button, .button_red, .select {
    background-color: #1e4058;
    width:125px;
    color: white;
    height:28px;
    border-radius: 3px;
    border-width: 0;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size:12px;
    font-weight: normal;
    margin: 8px 16px 8px 0;
}

.button:hover {
    background-color: rgba(12, 31, 40, 0.97);
}

.button_red {
    background-color: red;
}

.button_red:hover {
    background-color: #A10000;
}

.extlink {
    width: 22px;
    height: 22px;
    border: none;
    margin: -3px 5px 0 0;
    float: right;
}

.select {
    padding-left: 5px;
    width: 200px;
    background-color: #336699;
    border-radius: 0;
}

input[type='radio'] {
    padding-bottom: 10px;
    padding-right: 10px;
}

.desc_form {
    text-align: right;
    vertical-align: middle;
    font-family: Verdana, Arial, sans-serif;
    font-size:12px;
    width: 30%;
    padding: 5px;
}

[va="top"] {
    vertical-align: top;
}

input[type=text], input[type=password], input[type=datetime-local], input[type=date] {
    border: 1px solid black;
    height:15px;
    font-family: Verdana, Arial, sans-serif;
    font-size:14px;
    text-align: left;
    padding: 5px;
    margin-bottom: 5px;
    margin-right: 10px;
}

.short {
    width: 190px;
}

.long {
    width:550px;
}

.center {
    text-align: center;
}

.small {
    font-size: 0.8em;
}

textarea {
    width: 555px;
    height: 8em;
    border: 1px solid black;
}

h1 {
    background-color: #575757;
    color: white;
    font-size: 16px;
    font-family: Verdana, Arial, sans-serif;
    font-weight: normal;
    padding: 5px 10px;
    margin: 2px;
}

h2 {
    color: #5f5f5f;
    font-family: Verdana, Arial, sans-serif;
    font-size: 14px;
    font-weight: bold;
    padding: 8px 3px;
    margin: 2px;
}

h3 {
    background-color: #9d9d9d;
    font-size: 12px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 10px;
    font-family: Verdana, Arial, Helevtica, sans-serif;
    width: 99%;
}

h4, caption {
    background-color: darkgray;
    color: white;
    font-size: 10px;
    padding: 5px;
    font-family: Verdana, Arial, Helevtica, sans-serif;
    width: 99%;
}

.footer {
    clear: both;
    position:fixed;
    bottom: 0;
    height: 20px;
    background-color: #336699;
    color: white;
    width: 98%;
    font-size: 14px;
    float: left;
    padding: 10px 1%;
    font-family: Verdana, Arial, Helevtica, sans-serif;
    font-weight: bolder;
}

.footer a {
    color: white;
    text-decoration: None;
}

.content {
    display: block;
    border: 1px dotted black;
    border-radius: 5px;
    width: 400px;
    margin: 100px auto;
    padding: 10px;
    background-color: #F3F3F3;
}

[type=large] {
    margin: 20px auto;
    width: 800px;
}

.content table {
    width: inherit;
}
